<% provide :title, t("words.change_password") %>
<h1><%= t "words.change_password" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :edit_password,
      url: change_password_path, method: :patch do |f| %>
      <%= render "shared/error_messages", object: current_user %>

      <%= f.label :old_password %>
      <%= f.password_field :old_password, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t("words.confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t("words.change_password"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
