<tr>
  <td><%= user.id %></td>
  <td>
    <%= gravatar_for user, size: Settings.user.gravatar_home %>
    <%= user.name %>
  </td>
  <td><%= user.email %></td>
  <td><%= link_to t("words.view"), user_path(user) %></td>

  <% if current_user.admin? || current_user?(user) %>
    <td><%= link_to t("words.edit"), edit_user_path(user) %></td>
  <% end %>

  <% if current_user.admin? && !current_user?(user) %>
    <td><%= link_to t("words.delete"), user_path(user),
      method: :delete, data: {confirm: true} %>
    </td>
  <% end %>
</tr>
