<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("words.home"), root_path %></li>
        <li><%= link_to t("words.help"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("words.users"), users_path %></li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              "data-toggle": "dropdown" do %>
              <%= t "words.account" %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("words.profiles"), current_user %></li>
              <li class="divider"></li>
              <li><%= link_to t("words.change_password"),
                password_edit_users_path %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t("words.log_out"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("word.log_in"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
